/* File: style.css
Author: Michael Gutleber
Date: 7/3/2017
Desc: Used for the Concentration Card Game. */
h1 {
	font-family: Raleway, sans-serif;
	color: white;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	margin: 0;
}
h2 {
	font-family: Raleway, sans-serif;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
	margin: 0;
}
nav {
	font-family: Raleway, sans-serif;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	background-color: #00A6B3;
	padding: 20px 0;
}
body {
	text-align: center;
	margin: 0;
}
p {
	font-family: "Droid Serif", serif;
	line-height: 26px;	
	font-size: 18px;
}

header {
	background-color: #F15B31;
	padding: 30px 20px;
}

.header {
	margin: 0 20px;
	text-decoration: none;	/* Remove underline */
	color: white;
}

main {
	width: 850px;
	margin: 35px auto;
}

img {
	margin: 0 8px 0 8px;
}

footer {
	text-transform: uppercase;
	padding: 0 20px;
	background-color: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
	margin: -20px 0 0 0;
}

.copyright, .message {
	font-family: Raleway, sans-serif;
}

.copyright {
	float: left;
}

.message {
	float: right;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

.name {
	color: #F15B31;
	font-weight: 700;
}

a {
	border-bottom: 2px solid transparent;
}
/* Underline the anchors when the user moves the mouse over them */
a:hover {
	border-bottom: 2px solid white;
}

button {
	background-color: rgb(200,50,50);
	font-size: 20px;
	color: white;
	padding: 5px 20px;
	margin: 15px 0 -5px 0;
}

#score-text, #score {
	padding: 5px 10px;
	background-color: rgb(50,50,200);
	color: white;
}